@charset "gb2312";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
	font-family: arial, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', '宋体';
	font-size: 16px;
}

.bg{
  background-image: url("../images/bg_4.jpg");    /* 背景图 */
  
  background-position: center bottom;   /* 背景样式 */
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  font-size: 100%;
}

.glass{
	position: relative;                    /* 玻璃样式 */
	padding: 0;
	border-bottom: 0px solid;
	border-bottom-color: #ccc;
	border-bottom-color: rgba(255, 255, 255, 0.2);
	background-color: rgba(255, 255, 255, 0.2);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	margin-left: 0px;                     /* 玻璃图层 偏移&大小 */
	margin-top: 50px;
	height: 400px;
	width: 500px;
	left: 0;
	
}

.blur {
	background-image: url("../images/bg_4.jpg");    /* 背景图 */
	height: 700px;                         /* 模糊图层大小 */
	width: 500px;
	position: relative;                   /* 模糊图层样式 */
	padding: 0;
	background-position: center bottom;
	background-attachment: fixed;
	background-size: cover;
	font-size: 100%;

  left:0
  align: center;
	/* 模糊滤镜 */
	filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
	-webkit-filter: blur(10px); /* Chrome, Opera */
	-moz-filter: blur(10px);
	-ms-filter: blur(10px);
	filter: blur(10px);

    
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
	left: 0;
}
