<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>{corp} 软件管家 Web版</title>
	<link rel="stylesheet" href="css/style.min.css">
	<link rel="stylesheet" href="fonts/material-design/css/materialdesignicons.css">
	<link rel="stylesheet" href="plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" href="plugin/waves/waves.min.css">
	<link rel="stylesheet" href="plugin/sweet-alert/sweetalert.css">
	<link rel="stylesheet" href="css/style-dark.min.css">
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/respond.js"></script>
    <script src="js/global.js"></script>
    <script src="js/artDialog.js?skin=default"></script>	
    <script src="js/iframeTools.js"></script>
    <script type="text/javascript" src="js/jquery-1.8.1.min.js"></script>
     <script type="text/javascript">
        var $181 = $;
     </script>
</head>

<body>
<div class="main-menu">
	<header class="header">
		<a href="index.php" class="logo"><i class="ico mdi mdi-cube-outline"></i>{corp} Web版</a>
		<div class="user">
			<a class="avatar"><img src="images/mobile.jpg" alt=""></a>
			<h5 class="name"><a>访客</a></h5>
			<h5 class="position">User</h5>
		</div>
	</header>
	<div class="content">
		<div class="navigation">
			<ul class="menu js__accordion">
				{table_list}
			</ul>
		</div>
	</div>
</div>
<div class="fixed-navbar">
	<div class="pull-left">
		<button type="button" class="menu-mobile-button glyphicon glyphicon-menu-hamburger js__menu_mobile"></button>
	</div>
	<div class="pull-right">
		<div class="ico-item" style="display:none">
			<a href="#" class="ico-item mdi mdi-magnify js__toggle_open" data-target="#searchform-header"  title="软件搜索"></a>
			<form method='post' action="#" id="searchform-header" class="searchform js__toggle"><input type="search" placeholder="Search..." class="input-search"><button class="mdi mdi-magnify button-search" type="submit"></button></form>
		</div>
		<a href="Client/Client.zip" class="ico-item mdi mdi-download" title="客户端下载"></a>
	</div>
	
</div>
<div id="wrapper">
	<div class="main-content">


